<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Swingy</title>

  <!-- EXTERNAL STYLESHEETS -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">

  <!-- INTERNAL STYLESHEETS -->
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="templates/home/home.html">
  <div ng-include="'templates/home/home.html'" ></div>
  <div ng-include="'templates/about/about.html'" ></div>
  <div ng-include="'templates/shared/header.html'" ></div>
  <div ui-view></div>
  <div ng-include="'templates/shared/footer.html'" ></div>

</head>
<body>
  <script type="text/javascript" src="./js/app.js"></script>
<!-- Internal -->
  <script type="text/javascript" src="./js/app.js"></script>
  <!-- Resources -->
  <script type="text/javascript" src="./js/resources/event.js"></script>
  <script type="text/javascript" src="./js/resources/user.js"></script>
  <!-- Controllers -->
  <script type="text/javascript" src="./js/controllers/events.js"></script>
  <script type="text/javascript" src="./js/controllers/users.js"></script>
  <!-- Controller -->
  <script type="text/javascript" src="./controllers/authentication.js"></script>
  

  

  <footer></footer>

  <!-- EXTERNAL SCRIPTS -->
  <script src="./bower_components/angular/angular.min.js"></script>

  <!-- INTERNAL SCRIPTS -->
  <script src="./js/app.js"></script>
</body>
</html>



