<div class="row animated fadeInUp" id="about">
 <div class="col-md-8 about">
   
    <!--  <img id="icon" src="../images/logo_icon.png" width="200"> -->
     <font face="Raleway" size="3">

       <h3>About Swingy</h3>
        <p> Swingy is an amazing app that finds the kind of event and social meet ups with friends that is suited for your moods. </p><br/> 

       <h5>Do more</h5>
        Find popular events, unique local experiences and events just for you.
        </p><br/> 
        <h5>Get together</h5>
        <p>See where your friends are going so you never miss out on the fun.
        <h5>Save a tree</h5>
        <p>Just show your ticket on your phone to get in.</p><br/> 
        <h5>Get tickets fast</h5>
        <p>Pay with your phone and secure your spot.</p><br/> 
        <h5>Host your own</h5>
        <p>Easily check guests in at the door.</p>

       <p><a href="#/events/show" class="btn btn-primary" role="button">read more</a> </p>   
       <img class="about-pic" src="../images/about.png" width="400">
       </font>
 </div>
</div>