<img id="swingy" class="animated pulse"src="../images/swingy_face.png" width="200px">

<div class="container animated fadeInUp">
  <div class="row">
    <div class="col-md-6">
      <h2>Let Swingy handle it</h2>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="form-control input-lg" placeholder="find an Event" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-lg" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>



<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#" class="nav-link active">How to Use</a>
  </li>
  <li class="nav-item">
    <a href="#" data-toggle="tab" "nav-link">Link</a>
    <p>

    </p>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">Another link</a>
  </li>
</ul>