<!-- Text area and submit button for users to log their statuses -->
<md-input-container>
  <label>Status</label>
  <textarea ng-model="status.statusText" type="text"></textarea>
</md-input-container>
<md-button class="md-raised md-warn" ng-click="status.addStatus()">Post</md-button>

<!-- Saved statuses displayed using Angular Material’s md-list-item element and seting ng-repeat on it -->
<md-content>
  <md-list>
    <!-- Ordering statues by reverse date in order to get the latest statuses at the top --> 
    <md-list-item class="md-3-line" ng-repeat="statusItem in status.statusData | orderBy:'-date'">
      <!-- Getting images by setting ng-src to Gravatar’s domain and adding users' hashed email addresses -->
      <!-- Using the createHash method and passing in the user’s email address to generate the hash -->
      <img ng-src="http://www.gravatar.com/avatar/{{status.md5.createHash(statusItem.user.email)}}" class="face" alt="{{statusItem.user.username}}">
      <div class="md-list-item-text">
        <h3>{{statusItem.user.username}}</h3>
        <span>{{statusItem.date | date:'mediumDate'}}</span>
        <p>{{statusItem.text}}</p>          
      </div>
      <md-divider md-inset></md-divider>
      <!-- Adding an icon to remove specific status from the list -->
      <!-- Using ng-if to include icon only if username of status and that of logged-in user match -->
      <md-icon class="remove-status" ng-if="statusItem.user.username === loggedInUserData.username" ng-click="status.deleteStatus(statusItem)">X</md-icon>
    </md-list-item>
  </md-list>
</md-content>