<ul>
  
<li>
<div id=""class="row columns animated fadeIn" id="event">
 <div class="col-md-3">
   <div class="thumbnail">
     <img id="icon" src="../images/logo.png" width="300px" alt="...">
     <div class="caption text-center">
       <h4>Social Events</h4>
        <p> Swingy is an amazing app that finds the kind of event and social meet ups with friends that is suited for your moods. </p>
       <span class="label label-pill label-success">Accept</span>
       <span class="label label-pill label-danger" href="#">Decline</span>
     </div>
   </div>
 </div>
</div>
</li>





<div class="row animated fadeIn" id="event">
 <div class="col-sm-3">
   <div class="thumbnail">
     <img id="icon" src="../images/logo.png" width="300px" alt="...">
     <div class="caption text-center">
       <h4>Social fun</h4>
        <p> Swingy is an amazing app that finds the kind of event and social meet ups with friends that is suited for your moods. </p>
       <span class="label label-pill label-success">Accept</span>
       <span class="label label-pill label-danger">Decline</span>
     </div>
   </div>
 </div>
</div>






<div class="row animated fadeIn" id="event">
 <div class="col-md-3">
   <div class="thumbnail">
     <img id="icon" src="../images/logo.png" width="300px" alt="...">
     <div class="caption text-center">
       <h4>Health and lifestyle</h4>
        <p> Swingy is an amazing app that finds the kind of event and social meet ups with friends that is suited for your moods. </p>
       <span class="label label-pill label-success">Accept</span>
       <span class="label label-pill label-danger">Decline</span>
     </div>
   </div>
 </div>
</div>







<div class="row animated fadeIn" id="event">
 <div class="col-md-3">
   <div class="thumbnail">
     <img id="icon" src="../images/logo.png" width="300px" alt="...">
     <div class="caption text-center">
       <h4>Business marketing</h4>
        <p> Swingy is an amazing app that finds the kind of event and social meet ups with friends that is suited for your moods. </p>
       <span class="label label-pill label-success">Accept</span>
       <span class="label label-pill label-danger">Decline</span>
     </div>
   </div>
 </div>
</div>






<div class="row animated fadeIn" id="event">
 <div class="col-md-3">
   <div class="thumbnail">
     <img id="icon" src="../images/logo.png" width="300px" alt="...">
     <div class="caption text-center">
       <h4>Holiday Inn</h4>
        <p> Swingy is an amazing app that finds the kind of event and social meet ups with friends that is suited for your moods. </p>
       <span class="label label-pill label-success">Accept</span>
       <span class="label label-pill label-danger">Decline</span>
     </div>
   </div>
 </div>
</div>







<div class="row animated fadeIn" id="event">
 <div class="col-sm-3">
   <div class="thumbnail">
     <img id="icon" src="../images/logo.png" width="300px" alt="...">
     <div class="caption text-center">
       <h4>food Competition</h4>
        <p> Swingy is an amazing app that finds the kind of event and social meet ups with friends that is suited for your moods. </p>
       <span class="label label-pill label-success">Accept</span>
       <span class="label label-pill label-danger">Decline</span>
     </div>
   </div>
 </div>
</div>






<div class="row animated fadeIn" id="event">
 <div class="col-md-3">
   <div class="thumbnail">
     <img id="icon" src="../images/logo.png" width="300px" alt="...">
     <div class="caption text-center">
       <h4>Street Feast</h4>
        <p> Swingy is an amazing app that finds the kind of event and social meet ups with friends that is suited for your moods. </p>
       <span class="label label-pill label-success">Accept</span>
       <span class="label label-pill label-danger">Decline</span>
     </div>
   </div>
 </div>
</div>





<div class="row animated fadeIn" id="event">
 <div class="col-md-3">
   <div class="thumbnail">
     <img id="icon" src="../images/logo.png" width="300px" alt="...">
     <div class="caption text-center">
       <h4>Party</h4>
        <p> Swingy is an amazing app that finds the kind of event and social meet ups with friends that is suited for your moods. </p>
       <span class="label label-pill label-success">Accept</span>
       <span class="label label-pill label-danger">Decline</span>
     </div>
   </div>
 </div>
</div>






<div class="row animated fadeIn" id="event">
 <div class="col-md-3 col-md-3">
   <div class="thumbnail">
     <img id="icon" src="../images/logo.png" width="300px" alt="...">
     <div class="caption text-center">
       <h4>Health</h4>
        <p> Swingy is an amazing app that finds the kind of event and social meet ups with friends that is suited for your moods. </p>
       <span class="label label-pill label-success">Accept</span>
       <span class="label label-pill label-danger">Decline</span>
     </div>
   </div>
 </div>
</div>






<div class="row animated fadeIn" id="event">
 <div class="col-md-3">
   <div class="thumbnail">
     <img id="icon" src="../images/logo.png" width="300px" alt="...">
     <div class="caption text-center">
       <h4>About us</h4>
        <p> Swingy is an amazing app that finds the kind of event and social meet ups with friends that is suited for your moods. </p>
       <span class="label label-pill label-success">Accept</span>
       <span class="label label-pill label-danger">Decline</span>
     </div>
   </div>
 </div>
</div>






<div class="row animated fadeIn" id="event">
 <div class="col-md-3">
   <div class="thumbnail">
     <img id="icon" src="../images/logo.png" width="300px" alt="...">
     <div class="caption text-center">
       <h4>About us</h4>
        <p> Swingy is an amazing app that finds the kind of event and social meet ups with friends that is suited for your moods. </p>
       <span class="label label-pill label-success">Accept</span>
       <span class="label label-pill label-danger">Decline</span>
     </div>
   </div>
 </div>
</div>








<div class="row animated fadeIn" id="event">
 <div class="col-md-3">
   <div class="thumbnail">
     <img id="icon" src="../images/logo.png" width="300px" alt="...">
     <div class="caption text-center">
       <h4>About us</h4>
        <p> Swingy is an amazing app that finds the kind of event and social meet ups with friends that is suited for your moods. </p>
       <span class="label label-pill label-success">Accept</span>
       <span class="label label-pill label-danger">Decline</span>
     </div>
   </div>
 </div>
</div>

</ul>